.pageTitle {
  background-color: var(--ternaryColor);
  color: var(--primaryColor);
  display: flex;
  position: sticky;
  top: 0rem;
  padding: 1rem 0 1rem 1rem;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
}